<h1>Test-2</h1>

<p><b>Q:</b>In the solution is a WCF client console application called 'WebTechTest.Wcf.Client'</p>
<p>This client calls the project 'WebTechTest.Wcf.Host'. The solution file is 'WebTechTest.Wcf' </p>
<p>This is a representation of a production component we have</p>
<p>The WCF client and WCF host run on the same machine.</p>
<p>What WCF configuration changes would you make to improve the performance/throughput of the WCF host/service</p>
<p>1. What database change would you implement to improve performance </p>
